version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    networks:
      - dokploy-network
    # Можеш залишити доступ по IP:8080, якщо треба:
    ports:
      - "8080:80"

networks:
  dokploy-network:
    external: true
