.device-selector-container {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  background-color: var(--gray);
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.device-selector-device-status-icon {
  fill: var(--green);
}
.device-selector-device-status-icon-disable {
  fill: var(--red);
}
.device-selector-text {
  font-weight: 600px;
  color: var(--white);
  font-size: 16px;
}
