DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname

AUTH_SECRET_KEY=change-this-auth-secret-in-production
FRONTEND_BASE_URL=https://your-domain.com
API_BASE_URL=http://localhost:8000

# Jackett
JACKETT_URL=https://your-jackett.domain.com
JACKETT_KEY=your_jackett_api_key
JACKETT_INDEXERS=1337x,rutor,toloka,lostfilm
JACKETT_ENABLED=false
JACKETT_EN_INDEXERS=yts,eztv,therarb,torrentgalaxy,thepiratebay,limetorrents,knaben
JACKETT_EN_ENABLED=true
JACKETT_PL_INDEXER=polskie-torrenty
JACKETT_PL_ENABLED=true

# JacRed
JACRED_URL=https://jac.red
JACRED_ENABLED=true
JACRED_OWN_URL=https://your-jacred.domain.com
JACRED_OWN_ENABLED=true

# TorrServe
TORRSERVE_URL=https://your-torrserve.domain.com

# TMDB
TMDB_KEY=your_tmdb_api_key

# Rezka
REZKA_MIRROR=hdrezka-home.tv
REZKA_REPLACE_FROM=rezka.ag,hdrezka.ag,rezka.fi,rezka.me,rezka.uno
REZKA_PROXY=
