version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile

      networks:
        - dokploy-network
      labels:
        - traefik.enable=true
        - traefik.http.routers.nestify-back.rule=Host(`api.opencine.cloud`)
        - traefik.http.routers.nestify-back.entrypoints=websecure
        - traefik.http.routers.nestify-back.tls.certresolver=letsencrypt
        - traefik.http.services.nestify-back.loadbalancer.server.port=8000

networks:
  dokploy-network:
    external: true
