.alert-container {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000000;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 300px;
  padding: 16px 20px;
  border-radius: 24px;
  background: var(--white-opacity-10);
  backdrop-filter: blur(50px);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transform: translate(-50%, -20px);
  border: 1px solid var(--white-opacity-20);
  pointer-events: none;
}

.alert-container.visible {
  opacity: 1;
  transform: translate(-50%, 0);

  pointer-events: auto;
}

.alert__animated-icon {
  width: 32px;
  height: 32px;
}

.alert__content {
  display: flex;
  flex-direction: column;
}

.alert__title {
  font-size: 16px;
  font-weight: 600;
}

.alert__title--error {
  color: var(--red);
}
.alert__title--success {
  color: var(--green);
}
.alert__title--info {
  color: var(--blue);
}

.alert__subtitle {
  font-size: 14px;
  color: var(--white-opacity-40);
}

.alert__close {
  margin-left: auto;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease;
}
.alert__close:hover {
  color: #333;
}
