.header-menu {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  color: white;
  position: relative;
  overflow-y: auto;
  z-index: 9999999999999999;
}

.header-menu::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.header-menu-item {
  position: relative;
  cursor: pointer;
  padding: 0px 24px;
  border-radius: 32px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
  background-color: var(--white-opacity-5);
  backdrop-filter: blur(10px);
  border: 1px var(--white-opacity-10) solid;
}

.header-menu-item:hover {
  background: var(--white-opacity-20);
}

.dropdown-item {
  padding: 8px 16px;
  color: white;
  transition: background 0.2s;
  cursor: pointer;
  width: 100%;
  background-color: var(--white-opacity-5);
  font-size: 16px;
  font-weight: 200;
  border-radius: 16px;
}

.dropdown-item:hover {
  background: var(--white-opacity-10);
}

.header-menu-wrapper {
  position: relative;
}

.dropdown {
  border: 1px var(--white-opacity-10) solid;
  height: 500px;
  overflow-x: auto;
  overflow-x: hidden;
  position: absolute;
  top: 140%;
  left: 0;
  background: rgba(45, 45, 45, 0.589);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  margin-top: 4px;
  padding: 8px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  z-index: 100;
  list-style: none;
  gap: 8px;
  z-index: 298932009;
  padding: 16px;
}

.dropdown::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.header-menu-iconimg {
  display: inline-block;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
