header {
  margin-top: 32px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 1232222;
}

.header-buttons {
  display: flex;
  gap: 16px;
}
.header-desktop {
  position: sticky;
  top: 16px;
  z-index: 10000000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1600px; /* ширина контейнера */
  width: 100%; /* чтобы сужалась на маленьких экранах */
  margin: 0 auto; /* ЦЕНТРУЕМ по горизонтали */

  padding: 12px 32px;
  border: 1px solid var(--white-opacity-20);

  backdrop-filter: blur(10px);
  border-radius: 64px;
  background: var(--dark-opacity-10);
  margin-bottom: 16px;
}
.header-tablet {
  z-index: 10000000;
}
.header-desktop {
  z-index: 10000000;
}

.hdrezka-header-input-container {
  width: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
.hdrezka-header-search-input {
  width: 100%;
  border: none;
  height: 50px;
  background-color: var(--white-opacity-10);
  border-radius: 32px;
  padding: 8px 16px 8px 48px;
  color: var(--white);
  font-size: 14px;
  outline: none;
  font-weight: 500;
  backdrop-filter: blur(4px);
  transition: 0.2s ease-in-out;
}
.hdrezka-header-search-input:focus {
  background: var(--white-opacity-10);
  transition: 0.2s ease-in-out;
}
.search-icon {
  position: absolute;
  left: 16px;
  margin-right: 16px;
  cursor: pointer;
  z-index: 12121;
}
.search-container {
  display: flex;
  gap: 8px;
  cursor: pointer;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}
.small-40-btn {
  width: 40px;
  height: 40px;
  background-color: var(--white-opacity-10);
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.header-container {
  width: 100%;
}

.header-bottom-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.search-suggestions {
  position: absolute;
  top: 48px;
  background-color: var(--white-opacity-5);
  backdrop-filter: blur(10px);

  width: 100%;
  padding: 8px 16px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 4px;
  border-radius: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-suggestions li {
  padding: 8px 12px;
  cursor: pointer;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: 0.1s ease-in-out;
}

.search-suggestions li:not(:last-child) {
  border-bottom: 1px solid var(--white-opacity-10);
}

.search-suggestions li:hover {
  background-color: var(--white-opacity-5);
  border-radius: 16px;
  padding: 8px 14px;
  transition: 0.1s ease-in-out;
}

.search-description {
  font-size: 12px;
  color: var(--white-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-title {
  font-size: 14px;
  font-weight: 600;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-user__container {
  position: relative;
  display: flex;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  gap: 8px;
}
.header-user__avatar-container {
  cursor: pointer;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 32px;
  padding: 4px;
  background-color: var(--white-opacity-10);
}
.header-user__avatar {
  border-radius: 32px;
}

.dropdown-users-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.header-logo-wrapper {
  box-sizing: border-box;
  height: 100%;
  /* width: 100%; */
  align-items: center;
  display: flex;
  justify-content: center;
}
.header-logo {
  width: 90px;
  height: auto;
}
.dropdown-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  transition: background 0.2s ease;
  border-radius: 16px;
  /* background-color: var(--white-opacity-10); */
}

.dropdown-user:hover {
  background-color: var(--white-opacity-10);
}

.dropdown-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.header-user__dropdown.under-avatar {
  position: absolute;
  top: calc(100% + 8px); /* нижче аватара */
  right: 0;
  background: var(--dark-opacity-40);
  backdrop-filter: blur(100px);
  border-radius: 12px;
  padding: 12px;
  z-index: 999;
  min-width: 400px;
  max-height: 400px;
  overflow: auto;
}

.header-dropdown__user-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}

.dropdown-user--active {
  border-radius: 16px;
  position: relative;
  border: none;
  height: 64px;
  padding-left: 16px;
  background-color: var(--white-opacity-10);
}
.dropdown-user--active:hover {
  background-color: var(--blue);
}
.user-active-badge {
  display: none;
  margin-left: 10px;
  background: var(--blue, #283de6);
  color: white;
  border-radius: 8px;
  font-size: 12px;
  padding: 1px 8px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.dropdown-user--first {
  display: flex;
  justify-content: space-between;
}
.dropdown-button {
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  width: auto;
  display: inline-block; /* ← для надёжности */
  font-size: 16px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 8px;
  font-weight: 600;
  margin-right: 16px;
}
.dropdown-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
