/* .site-footer {
  width: 100%;
  color: #8d8d8d;
  padding: 0px 32px 16px 32px;
  font-size: 15px;
  text-align: center;
  margin-top: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.footer-jokes {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
  color: #aaaaaa;
  margin-top: 5px;
}
.footer-content div a {
  color: var(--blue);
  text-decoration: none;
} */
