/****** Оверлей ******/
.movie-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.movie-modal {
  margin: 0 auto;
  width: 850px;
  /* background-color: var(--white-opacity-5); */
  border-radius: 16px;
  padding-bottom: 32px;
  overflow: auto;
  overflow-y: auto;
  scrollbar-width: none;
  max-height: 800px;
  -ms-overflow-style: none;
  position: relative;
  z-index: 10000;
}
.movie-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.movie-modal::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.movie-modal__close-btn {
  border: none;
  position: absolute;
  outline: none;
  color: var(--white);
  background: none;
  z-index: 1000;
  top: 16px;
  right: 16px;
  font-size: 18px;
}

.movie-modal__content {
  position: relative;
  width: 100%;
  z-index: 10;
}
.movie-modal_overlay_backdrop {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0px;
  opacity: 0.12;
  filter: blur(300px);
}
.movie-modal__poster-vignette {
  position: absolute;
  bottom: 0; /* Сместить элемент по нижнему краю */
  left: 0;
  width: 100%; /* На всю ширину */
  height: 100%; /* Занимает всю высоту */

  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: 2;
}

.movie-modal__poster {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.movie-modal__header {
  position: relative;
  height: 380px;
  /* margin-bottom: 32px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--white-gray); */
}
.movie-modal__header-details {
  position: relative;
  z-index: 20;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}
.movie-modal__poster-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.movie-modal__title {
  color: var(--white);
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 4px;
}
.movie-modal__info {
  display: flex;
  gap: 8px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}
.movie-modal__origin {
  border-right: 0.1px solid var(--white);
  padding-right: 8px;
  max-width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.movie-modal__rating {
  display: flex;
  align-items: center;
  border-right: 0.2px solid var(--white);
  padding-right: 8px;
  gap: 4px;
}

.movie-modal_controls-play-btn {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* .movie-modal__play-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--white);
  backdrop-filter: blur(100px);
  color: var(--dark);
  width: 133px;
  height: 40px;
  justify-content: center;
  border-radius: 8px;
  transition: 0.1s ease-in;
  font-size: 16px;
  font-weight: 700;
} */
.movie-modal__play-button {
  background-color: var(--white);
  width: 133px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--dark);
  cursor: pointer;
}
.movie-modal__cast-button {
  cursor: pointer;
  /* background-color: var(--white-opacity-10); */
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-modal__play-button:hover {
  background-color: var(--red);
  transition: 0.1s ease-in;
}

.movie-modal__details {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 0%;
  position: relative;
  z-index: 10000;
  background-color: var(--white-opacity-10);
  /* backdrop-filter: blur(1px); */
  width: 100%;
  top: -40px;
  border-radius: 0px 0px 24px 24px;
  background-color: var(--dark);
}
.movie-modal__details-container {
  flex-wrap: wrap;
}
.movie-modal__section-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}
.movie-modal__description-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.movie-modal__translators {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.movie-modal__translators-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.movie-modal__trailer {
  width: 100%;
  min-width: 300px;
  height: 195px;
  background-color: var(--gray);
  border-radius: 16px;
}

.movie-modal__details-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.movie-modal__release-date {
  color: var(--white-gray);
  font-weight: 500;
  font-style: 14px;
}

.movie-modal__age {
  color: var(--white-gray);
  border: 1.7px solid var(--white-gray);
  padding: 4px 8px 4px 8px;
  max-width: max-content;
  border-radius: 8px;
}

.movie-modal__description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  margin-top: 16px;
  justify-content: space-between;
}

.movie-modal__description {
  max-width: 364px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
}

.movie-modal_infotable {
  max-width: 364px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.movie-modal__infotable-lable {
  color: var(--white-gray);
  font-size: 12px;
  font-weight: 500;
}

.movie-modal__infotable-item {
  display: flex;
  gap: 4px;
  width: 100%;
  flex-wrap: wrap;
}

.movie-modal__infotable-value {
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}
.movie-modal__episodes {
  margin-top: 32px;
}
.movie-modal__episodes-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movie-modal__season-selector-container {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/* Контейнер дропдауна */
.movie-modal__season-selector {
  position: relative;
  display: inline-block;
}

/* Текущий выбранный сезон (кнопка, открывающая список) */
.season-selector__current {
  background-color: var(--white-opacity-5);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none; /* Чтобы не выделялся текст при клике */
  min-width: 120px; /* Чтобы кнопка не "скакала" при смене сезонов */
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Список опций */
.season-selector__list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--dark);
  border-radius: 8px;
  margin-top: 4px;
  z-index: 999; /* выше всего, чтобы не перекрывала модалка */
  width: 250px;
  display: flex;
  flex-direction: column;
  max-height: 300px; /* ориентировочно под 5 элементов, подберите нужное */
  overflow-y: auto;
}

/* Каждая опция */
.season-selector__item {
  padding: 16px 16px;
  cursor: pointer;
  user-select: none;
  display: flex;
  gap: 8px;
  font-size: 18px;
  align-items: center;
}

/* Hover */
.season-selector__item:hover {
  background-color: var(--white-opacity-10);
}

.season-selector__item-count {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

.season-selector__item-title {
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
}

/* Ширина самого скроллбара */
.season-selector__list::-webkit-scrollbar {
  width: 4px; /* толщина скроллбара */
  background-color: transparent;
}

/* Рельсы (полоса под бегунком) */
.season-selector__list::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/* Сам ползунок (бегунок) */
.season-selector__list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

/* При наведении курсора на бегунок */
.season-selector__list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.movie-modal__playback-controls {
  margin-top: 16px;
}

.movie-modal__continue-volume-btn {
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.movie-modal__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.movie-modal__youtube-player-container {
  /* position: relative; */
  width: 100%;
  /* padding-top: 220 0.25%; */
  pointer-events: none;
  overflow: hidden;
}
.movie-modal__youtube-player {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  height: 100%;
  transform: scale(2);
  overflow: hidden;
}
.movie-modal__cast-button.disabled {
  opacity: 0;
  pointer-events: none;
  cursor: not-allowed;
}
